.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.dashboardContainer {
    width: 50vw;
}

.pollListItemsHeader {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    padding-bottom: 5px;
    padding-top: 10px;
}

.pollListItemsHeader > * {
    color: white;
    font-weight: bold;
}